doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        title='Интернет-магазин Bookshop'
    body
        .container
            header.header
                .header-block
                    a.header-logo(href='/') Bookshop
                    ul.header-link
                        li.header-link_item
                            a.header-link_item_text.active(href='#') books
                        li.header-link_item
                            a.header-link_item_text(href='#') audiobooks
                        li.header-link_item
                            a.header-link_item_text(href='#') stationery & gifts
                        li.header-link_item
                            a.header-link_item_text(href='#') blog
                    ul.icon-block
                        li.icon-block_item
                            img.icon-block_item_user(src=require('./images/user.svg') alt="user")
                        li.icon-block_item
                            img.icon-block_item_user(src=require('./images/search.svg') alt="search")
                        li.icon-block_item
                            img.icon-block_item_user(src=require('./images/cart.svg') alt="cart")
                            span.icon-cart_block 
                                span.icon-cart_text
            main.main
                .slider-block
                    .slider-block_photo
                        .slider-block_item_group
                        .slider-change
                            a.slider-change_link(href='#') 
                                | Change old book on new
                                img.slider-top_link_icon(src=require('./images/arrow.svg') alt="arrow")
                    .slider-top
                        a.slider-top_link(href='#') 
                            | Top 100 books 2022
                            img.slider-top_link_icon(src=require('./images/arrow.svg') alt="arrow")
                    .slider-pagination
                        .slider-pagination_items
                .main-products
                    .sidebar
                        ul.sidebar-category-list
                            li.sidebar-category-list_item
                                a.link(data-category='subject:Architecture') Architecture
                            li.sidebar-category-list_item
                                a.link(data-category='subject:Art & Fashion') Art & Fashion
                            li.sidebar-category-list_item
                                a.link(data-category='subject:Business') Biography
                            li.sidebar-category-list_item
                                a.link(data-category='subject:Crafts & Hobbies') Crafts & Hobbies
                            li.sidebar-category-list_item
                                a.link(data-category='subject:Drama') Drama
                            li.sidebar-category-list_item
                                a.link(data-category='subject:Fiction') Fiction
                            li.sidebar-category-list_item
                                a.link(data-category='subject:Food & Drink') Food & Drink
                            li.sidebar-category-list_item
                                a.link(data-category='subject:Health & Wellbeing') Health & Wellbeing
                            li.sidebar-category-list_item
                                a.link(data-category='subject:History & Politics') History & Politics
                            li.sidebar-category-list_item
                                a.link(data-category='subject:Humor') Humor
                            li.sidebar-category-list_item
                                a.link(data-category='subject:Poetry') Poetry
                            li.sidebar-category-list_item
                                a.link(data-category='subject:Psychology') Psychology
                            li.sidebar-category-list_item
                                a.link(data-category='subject:Science') Science
                            li.sidebar-category-list_item
                                a.link(data-category='subject:Technology') Technology
                            li.sidebar-category-list_item
                                a.link(data-category='subject:Travel & Maps') Travel & Maps
                    section.products
        